@model IEnumerable<BlogApp.Areas.Admin.Data.Website>

@{
    ViewBag.Title = "Nguồn tin";
}

<h2>Nguồn tin</h2>

<p>
    @Html.ActionLink("Thêm nguồn tin", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Tên
        </th>
        <th>
            Cú pháp cắt chuỗi (start,end)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Syntax)
        </td>
        <td>
            @Html.ActionLink("Sửa", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Chi tiết", "Details", new { id=item.ID }) |
            @Html.ActionLink("Xóa", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
