@model BlogApp.Areas.Admin.Data.Post

@{
    ViewBag.Title = "Chi tiết bài viết";
}

<h2>CHI TIẾT BÀI VIẾT</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Tiêu đề
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            Nội dung
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Content)
        </dd>

        <dt>
            Ảnh đại diện
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Image)
        </dd>

        <dt>
            Ngày đăng
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PubDate)
        </dd>

        <dt>
            Tác giả
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Account.Username)
        </dd>

        <dt>
            Chủ đề
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Topic.Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Sửa", "Edit", new { id = Model.ID.Trim() }, new { @class="btn btn-success" })
    @Html.ActionLink("Quay lại", "Index", null, new { @class = "btn btn-success" })
</p>
