@model BlogApp.Areas.Admin.Data.Log

@{
    ViewBag.Title = "Xóa lịch sử hoạt động";
}

<h2>Xóa lịch sử hoạt động</h2>

<h3>Bạn có chắc muốn xóa lịch sử hoạt động này?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Nội dung
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Content)
        </dd>

        <dt>
            Ngày thực hiện
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PubDate)
        </dd>

        <dt>
            Người thực hiện
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Account.Username)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Xóa" class="btn btn-success" /> 
            @Html.ActionLink("Quay lại", "Index", null, new { @class = "btn btn-success" })
        </div>
    }
</div>
