@model BlogApp.Areas.Admin.Data.Log

@{
    ViewBag.Title = "Chi tiết lịch sử hoạt động";
}

<h2>Chi tiết lịch sử hoạt động</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Nội dung
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Content)
        </dd>

        <dt>
            Ngày thực hiện
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PubDate)
        </dd>

        <dt>
            Người thực hiện
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Account.Username)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Sửa", "Edit", new { id = Model.ID }, new { @class = "btn btn-success" }) 
    @Html.ActionLink("Quay lại", "Index", null, new { @class = "btn btn-success" })
</p>
